.fileTable-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 3rem auto;
  width: fit-content;
}

.fileTable-header {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray;
  display: flex;
  gap: 3rem;
  padding: 1rem;
}

.fileTable-status {
  text-transform: capitalize;
  position: relative;
}

.fileTable-status.available::before {
  background-color: green;
  border-radius: 8px;
  content: "";
  display: inline-block;
  height: 12px;
  left: 8px;
  position: absolute;
  top: 26px;
  width: 12px;
}
